# ====================================================
# PIXELVERSE - ENVIRONMENT CONFIGURATIONS
# ====================================================

# Neon PostgreSQL Serverless Connection Pool String
# (Make sure to use the connection string with '-pooler' in the host)
DATABASE_URL="postgresql://user:password@ep-cool-resonance-123456-pooler.us-east-2.neon.tech/pixelverse?sslmode=require"

# Port on which the Realtime Express & Socket.io server listens
BACKEND_PORT=3001

# Realtime socket address accessed by Next.js client browser
NEXT_PUBLIC_WS_URL="http://localhost:3001"
